{% extends 'loggedin.html' %}

{% block head %}
        <title>course_page</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
    
          function drawChart() {
            var data = google.visualization.arrayToDataTable({{data|safe}});
    
            var options = {
              title: 'Performace summary',
              curveType: 'function',
              legend: { position: 'bottom' }
            };
    
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    
            chart.draw(data, options);
          }
        </script>
{% endblock %}

{% block page_content %}
<div class="container">
    <br/> 
    <p style="text-align:right;">
      <a role="button" class="btn btn-primary btn-lg" href="/course_page/{{name}}/">Back</a>
    </p>
         Assignment           -           score
        {% for key, value in d1.items %} 
        <li>
            {{ key }}         -          {{value}}%</a>
        </li>
        {% endfor %}
    <br/>
    <hr>
        {% for key, value in d2.items %} 
        <li>
            {{ key }}         -          {{value}}%</a>
        </li>
        {% endfor %}
    <hr>

    <div id="curve_chart" style="width: 900px; height: 500px"></div>

    <p>Your performance is considered {{performance}}</p>
    

</div> 
{% endblock %}