{% extends 'loggedin.html' %}

{% block head %}
        <title>{{remove_TA}}</title>
{% endblock %}

{% block page_content %}
<div class="container">
    <br/> 
    <p style="text-align:right;">
        <a role="button" class="btn btn-primary btn-lg" href="/course_page/{{name}}/members/">Back</a>
    </p>
    <h4>REMOVE TA's</h4>
    <p>
        <form method="POST">
            {% csrf_token %}
            {% for u in people %}
            <li>
                {{ u.user.username }}
            </li>
            {% endfor %}
            <input type="text" name="chkvalue"/>
            <input type="submit" value="Insert Record"/>
        </form>
    </p>
</div> 
{% endblock %}